<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allu.trackyourpal">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- gps permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api" />

        <activity android:name=".UI.MainActivity" />
        <activity android:name=".UI.SplashActivity" />
        <activity android:name=".UI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.SignupActivity" />
        <activity android:name=".UI.GPSLocation" />

        <!-- service -->
        <service
            android:name=".GPS.GPSService"
            android:process=":GPSService" />

        <activity android:name=".UI.AddFriend" />
        <activity android:name=".UI.TourActivity" />
        <activity android:name=".UI.TourViewActivity" />
        <activity android:name=".UI.FriendsTourActivity" />
        <activity
            android:name=".UI.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UI.FriendRequestsActivity"></activity>
    </application>

</manifest>